*
!.gitignore
!*/code


\.idea/

!*/data/30890_/histology/segmented/*
!*/data/30890_/mri/*

model_saves/

mri_skull_stripping/

Papers/

Segmentation/

Simulated/

Train_nonbrain/

trainData/

code/__pycache__/
code/.idea/
code/.ipynb_checkpoints

parameter_distribution.obj

!LICENSE.md
!README.md

*.local
