!.gitignore
!*/code


\.idea/

!data/
data/*
!data/30890_/*
data/30890_/masks/
data/30890_/mri/_30890_.nii
!data/30890_/histology/*

model_saves/

mri_skull_stripping/

Papers/

Segmentation/

Simulated/

Train_nonbrain/

trainData/

code/__pycache__/
code/.idea/
code/.ipynb_checkpoints

parameter_distribution.obj
parameter_distribution_high_reg.obj

!LICENSE.md
!README.md


*.local
*.pdf
*.txt

